[2020-08-18 19:05] SeraphDevelper opened #3 "Error resolving version for plugin 'org.apache.maven.plugins:maven-site-plugin"
Good evening

I have the following error in pom.xml file
Please could you help me.
Thank you

Multiple annotations found at this line:
	- Error resolving version for plugin 'org.apache.maven.plugins:maven-site-plugin' from the repositories [local (/
	 root/.m2/repository), internal (http://)]: Plugin not found in any plugin
	 repository
	- Project build error: Unresolveable build extension: Plugin

[2020-09-17 19:14] wimjongman commented on #3
Please be more specific. What are you doing, what logs do you see? All the details. Reopen after you did.

[2020-09-17 19:14] #3 closed

[2020-10-11 06:37] Nashnas opened #4 "Modify the user tempalete"
you can format the software like visual studio

[2020-10-11 21:45] wimjongman commented on #4
I have no idea what you mean. Please explain clearly and reopen.

[2020-10-11 21:45] #4 closed

[2020-10-13 08:09] Nashnas opened #5 "remov objects lucution"
Arrange the objects one behind the other in any place

[2020-10-13 08:11] #5 closed

[2020-10-13 08:11] vogella commented on #5
Please describe better what you want.

[2020-10-13 08:11] Nashnas commented on #4
I mean, it's better to have the molding of the objects on the screen to
take place, and wherever you choose, the object is placed at the same point
as the executive program.
در تاریخ ۱۲ اکتبر ۲۰۲۰ ۱:۱۵، "Wim Jongman" <notifications@github.com> نوشت:

[2020-10-26 22:45] akurtakov opened #8 "Consider removing xwt support"
It's long dead technology and updating codebase supporting dead technology to get rid of ancient guava doesn't make sense to me.

[2020-10-26 22:46] akurtakov commented on #8
If there is consent here I'll provide a patch.
@vogella @wimjongman  wdyt?

[2020-10-26 22:58] wimjongman commented on #8
+1

[2020-10-27 13:53] #8 closed

[2020-11-01 21:56] wimjongman opened #16 "Reverted all guava list changes"
@akurtakov I had to revert your changes because of the differences between java and guava. I have pushed your changes into a new branch. Please work from there.

I found out when trying to run the unit tests (there are 37000 unit tests!!) that windowbuilder mutates lists while iterating them.

Take a look for example at

    org.eclipse.wb.internal.core.utils.ast.AstNodeUtils.removeDanglingNodes(I

[2020-11-02 20:53] mjmeijer opened #22 "Allow user to set font/size preferences for the WindowBuilder source editor"
I wanted this, but it appears to be an old issue.
https://www.eclipse.org/forums/index.php?t=msg&th=1087610&goto=1768900&

I have forked repo and will see whether I can provide a solution and pull request

[2020-11-02 21:17] lcaron commented on #22
Hi Maarten,

I've fixed today a bug, and the next nightly release will use the "Java Font" instead of the Text Font. Is it what you expect ?

[2020-11-03 05:20] mjmeijer commented on #22
I want to be able to set it in preferences general appearance

Maarten Meijer
Verstuurd vanaf mijn iPhone

[2020-11-03 08:08] lcaron commented on #22
Ok good idea,

Feel free to ask if you need help !

[2020-11-03 15:01] mjmeijer commented on #22
Seems to be a duplicate of https://bugs.eclipse.org/bugs/show_bug.cgi?id=526365 and also resolved in commit 5163faebc9aca7d59a35e48246b65981d5064d2a, closing it. Nice trick in resolving it in plugin.xml, didn't know about that one!

[2020-11-03 15:01] #22 closed

[2020-11-03 15:15] lcaron commented on #22
I didn't know it before I fixed this bug ;)

[2021-03-20 10:31] System0x20 opened #38 "Accelerator generation"
Window builder 1.9.5 generates code for KeyStroke using CTRL_MASK (ALT_MASK, ...) which is deprecated since Java 9 please change those to new constants (CTRL_DOWN_MASK, ....)

[2021-04-14 19:10] jonathanpecany opened #39 "Crashes when adding in new components in design view"
I came across this annoying glitch or bug that makes the Windowbuilder basically unusable. So when adding in like composites, Eclipse starts to not respond and I have to restart, again I try and it does the same thing, so I restart again, then again, and again.

No crash logs or errors, eclipse just stops responding. Does anyone have any fix to this.

I am using Java 14 and using Eclipse 2020-09,

[2021-04-17 21:46] lcaron commented on #39
Hi Jonathan,

Sorry for my late answer. Does this problem occur for all projects or just
for one specific project ?

Can you please provide snippet code ?

Regards

Laurent

Le mer. 14 avr. 2021 à 21:11, Jonathan J. Pecany ***@***.***>
a écrit :

[2021-04-24 16:04] jonathanpecany commented on #39
I am not sure if it does or not.

What kind of snippet code do you need? I got none but the default SWT code.

[2021-04-28 17:43] Cullen36 opened #40 "Design Tab Has Blank Palette, Structure, and Design Area"
I've just started to try making applications using windowbuilder, but I have already met a serious problem that makes it impossible.
I have searched for hours online to no avail and tried common fixes for other similar issues - none of which have worked. When I follow the steps for making a new Swing or SWT application (both have this issue), the source code is correctly generated and runs but the

[2021-04-28 21:33] lcaron commented on #40
Hi

Thanks to the content of the log, I think that you're using JDK 16. We have an issue with a library used by WindowBuilder, and we're working on it (tough work).

Can you try to add the JVM parameter " --illegal-access=permit" in your Eclipse Configuration ?

Please keep us informed.

Laurent

[2021-04-29 03:04] Cullen36 commented on #40
Adding that parameter to the config file for Eclipse fixed the problem flawlessly!!
Excellent work, and good luck on fixing that library issue.
Your work is much appreciated!

[2021-04-29 03:04] #40 closed

[2021-05-01 17:43] lcaron commented on #40
Thank you for your kind message and your support ;)

[2021-06-04 15:45] wimjongman opened #42 "Revive Windowbuilder Tests"
Windowbuilder has a whopping 37000 (Yes, 37K) unit tests. However, they are nowhere activated and I suspect there is a decent amount of rot.

It would be fantastic if we could give this some TLC.

[2021-06-04 15:48] wimjongman opened #43 "DesignerMethodBinding does not implement public boolean isSyntheticRecordMethod();"
for some reason, DesignerMethodBinding does not implement public boolean isSyntheticRecordMethod();

[2021-06-04 15:51] wimjongman opened #44 "Code completion issues with WB source editor"
When using the windowbuilder editor, there are various issues with code completion. As a workaround, the normal java editor can be opened on the side. When using the windowbuilder editor, there are various issues with code completion. As a workaround, the normal java editor can be opened on the side.

[2021-06-04 15:55] wimjongman opened #45 "Reflective access with CGLIB breaks windowbuilder in java 16 and higher"
Hi,
I receive an 'Unhandled event loop exception' exception (see attached) only when Eclipse runs JDK16.
When I use JDK16 for my workspace it works.

I use Eclipse 4.19 with JDK16 patches.

[stack2.txt](https://github.com/eclipse/windowbuilder/files/6599755/stack2.txt)

[2021-06-04 15:58] wimjongman commented on #45
It works well when I use " --illegal-access=permit" (in eclipse.ini) as proposed by Laurent.

[2021-06-22 12:15] howlger commented on #45
Lombok fixed the problem (which I guess is the same) as follows:
https://github.com/projectlombok/lombok/pull/2811/commits/7069c7e90377952ae7c9a7dfd6786205dfe7ec5f

[2021-09-17 10:46] rolfth opened #46 "WindowBuilder moved without leaving a trace"
Try to use google to find the WindowBuilder repository or issue tracker, all you can find is pages with dead ends:

https://projects.eclipse.org/projects/tools.windowbuilder/developer
https://www.eclipse.org/windowbuilder/
https://marketplace.eclipse.org/content/windowbuilder

This leaves the impression that the project is no longer alive.

[2021-09-17 11:48] adidiot opened #47 "WindowBuilder: Unhandled event loop exception (NullPointerException) with JDK17"
Hello,
After having installed: Eclipse 4.21, Java 17 support for Eclipse 2021-09 (4.21), Window Builder 1.9.7 from
https://download.eclipse.org/windowbuilder/lastgoodbuild/

I started Eclipse (with JDK17) and discovered that WB seems not work correctly :

See above the log message:

ENTRY org.eclipse.ui 4 0 2021-09-17 13:45:51.757
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.NullPoin

[2021-09-18 18:35] lcaron commented on #47
Hi Alex,

To help us, can you please try to run Eclipse with another JDK ? I want to know if the issue is due to the latest release of Eclipse or due to JDK 17.

[2021-09-18 19:19] adidiot commented on #47
Hi Laurent,

Yes, I am almost sure it is due to the JDK17 (JEP 403: Strongly Encapsulate JDK Internals)
It seems **--illegal-access=permit** does not work anymore ...
I tried to add **--add-opens java.base/java.lang=ALL-UNNAMED** to eclipse.ini but without success Eclipse does not start with this JVM argument.

So I created my own script to start Eclipse with **--add-opens java.base/java.lang=ALL-

[2021-09-27 22:59] ivanooi opened #48 "dark mode issues"
Eclipse IDE for Java Developers (includes Incubating components)
Version: 2021-09 (4.21.0)
Build id: 20210910-1417
OS: Mac OS X, v.10.15.7, x86_64 / cocoa
Java vendor: Oracle Corporation
Java runtime version: 16.0.2+7-67
Java version: 16.0.2

<img width="716" alt="Greenshot 2021-09-28 06 55 57" src="https://user-images.githubusercontent.com/15061028/134996533-8f505cef-fe75-4299-bde1-c3d29c4ad297.p

[2021-10-04 09:06] C4J opened #49 "Where should one report a WindowBuilder Problem"
Should it be here on GitHub or

https://bugs.eclipse.org/bugs/buglist.cgi?bug_status=__open__&component=WindowBuilder&list_id=20972637&product=z_Archived

Thanks

Dave

[2021-10-04 09:27] C4J opened #50 "Being able to help."
Sorry I know this is the wrong place for such a request but I don't know where else to contact the WindowBuilder Pro developer guru's.

I'm a long standing Java developer and WindowBuilder fan.

I think it only fair that I should contribute to the project in some way as it's so important to me.

I've not done any specific Eclipse PlugIn development before and would welcome some guidance as to book

[2021-10-04 10:31] amitin commented on #50
You could start by creating pull requests with the code you want to add/fix.

[2021-10-04 10:31] #50 closed

[2021-10-04 11:29] C4J commented on #50
Thanks for this. I was specifically asking about any materials on Eclipse Plug In development and maybe guidelines / best practice / standards for WindowBuilder code.

Dave

David Garratt
***@***.***

www.commander4j.com

Please consider your environmental responsibility before printing emails.

[2021-10-05 18:44] wimjongman commented on #49
Yes, here. 👍

[2021-10-06 22:40] wimjongman commented on #47
Thanks!

[2021-10-06 22:40] #47 closed

[2021-10-07 08:47] rolfth commented on #46
All these links are valid, but none of them link to the new github WindowBuilder location. For instance, try raising an issue from these pages (you end up in Bugzilla), or doing a checkout (you endup in git.eclipse.org).

It took me half an hour to find this page, even google was not helpful to find it.

[2021-10-08 15:08] wimjongman commented on #38
https://github.com/eclipse/windowbuilder/search?q=ALT_MASK

;)

[2021-10-09 21:15] wimjongman opened #51 "New website"
We need a new website. A one page website should be enough. Is there someone who can make a nice page for us?

* Introduction
* Videos
* Downloads
* Links to documentation
* Links to build engine
* Links to Github
etc..

The current site is here:

https://git.eclipse.org/c/www.eclipse.org/windowbuilder.git/tree/

[2021-10-09 22:12] ABongoCat commented on #40
Hello, I am very very new to Eclipse IDE. Could you tell me pls how to do that?
"Can you try to add the JVM parameter " --illegal-access=permit" in your Eclipse Configuration ?"

[2021-10-10 19:34] ABongoCat commented on #40
So just copy that script and save that as a bat file on Windows? Because I see the word Linux there in the script.

[2021-10-10 19:50] lcaron commented on #40
No, here is an example (we suppose that JDK 17 is installed in the directory `C:\Program Files\Java\jdk-17` and Eclipse in the directory `C;\Eclipse`)

Save these lines as a batch file :

[code]

[2021-10-10 20:57] ABongoCat commented on #40
Ok somehow on my Surface, the .bat can run and all. But there is still an empty Design Tab.

[2021-10-10 21:43] ABongoCat opened #52 "JDK 17 Empty Desing Tab Solution not working"
I will focus the usage of Eclipse IDE with WindowBuilder on my Surface Pro 7.
I am referring to my problems in #40 (and #47). Using the .bat File on the desktop allows me to start Eclipse like it should do. One side effect is, that I can't start Eclipse normally anymore with the standard "Eclipse.exe". The Error:
![image](https://user-images.githubusercontent.com/45139479/136713458-3b7e827d-006a-4

[2021-10-12 19:32] ABongoCat commented on #52
Command Prompt opens and instantly closes, with nothing happening.

[2021-10-14 02:30] ivanooi opened #53 "Custom control properties only work with JDK8"
Hi,

  I had done few test and confirmed.

Eclipse run using JDK11 and above, custom control properties not editable.
![image](https://user-images.githubusercontent.com/15061028/137240183-b7d2733a-7b95-4fa8-b4d4-836cd1b062a9.png)

if eclipse run using JDK8 no issues :

![image](https://user-images.githubusercontent.com/15061028/137240507-eef2ed71-aef0-4b1c-bda1-6908afd26d84.png)

[2021-10-14 09:40] merks commented on #52
FYI, what worked for me is adding this to the end of the eclipse.ini
[code]
What does not work for me is adding this without the first `=`
[code]
Nor this with two lines:
[code]
which I would have expected should work because all the documented examples I see are without an `=`.

[2021-10-14 16:09] merks commented on #52
Use the installer.  It will make sure that the right -vm option is add in order to use the right version of Java; otherwise you'll get just the default one installed on your system each time.

[2021-10-14 16:20] ABongoCat commented on #52
I did 3 times. Installed a new installer from website, updated the installer inside the installer menu, restarted my laptop. All ending with the same issue. Like what?

[2021-10-14 16:53] ABongoCat commented on #52
C:\Program Files\Java\jdk-17

[2021-10-14 17:25] ABongoCat commented on #52
java version "17" 2021-09-14 LTS
Java(TM) SE Runtime Environment (build 17+35-LTS-2724)
Java HotSpot(TM) 64-Bit Server VM (build 17+35-LTS-2724, mixed mode, sharing)

[2021-10-14 19:38] lcaron commented on #52
Do you have a directory called "**org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_16.0.2.v20210721-1149**" in `C:\Users\timng\.p2\pool\plugins` ?

If true, replace the lines
[code]
by

[code]

And restart Eclipse.

[2021-10-14 19:41] ABongoCat commented on #52
There isn't
![image](https://user-images.githubusercontent.com/45139479/137384688-5e6a127d-1358-43e4-b883-9823ef0ddb03.png)

[2021-10-15 07:29] merks opened #54 "Oomph setup for Window Builder?"
Are you interested in having a setup to easily create a development environment for your project's developers and contributors?

[![Create Eclipse Development Environment for Window Builder](https://download.eclipse.org/oomph/www/setups/svg/Window_Builder.svg)](https://www.eclipse.org/setups/installer/?url=https://raw.githubusercontent.com/eclipse/windowbuilder/master/setups/WindowBuilderConfigura

[2021-10-17 19:36] lcaron commented on #45
Bug fixed in WB 1.9.8

[2021-10-17 19:36] #45 closed

[2021-10-17 19:38] lcaron commented on #53
Hi,

I've fixed a bug with JDK 16 and 17, I think it may solve you problem. Can you please try with the nightly release ?

[2021-10-18 08:35] vogella opened #56 "JFace builder support"
Would be nice if WB would also allow to use the new JFace Builder api, like ButtonFactory.

I guess effort for this would be very high, so I assume it is unlikely to be implemented in the near future.

[2021-10-18 19:40] lcaron opened #57 "Migrate Eclipse Jar Plugin to 1.3.2"
Build for WB is failing :

[ERROR] Failed to execute goal org.eclipse.cbi.maven.plugins:eclipse-jarsigner-plugin:1.1.3:sign (sign) on project org.eclipse.wb.os: [Mon Oct 18 10:02:13 UTC 2021] Unable to sign jar '/home/jenkins/agent/workspace/org.eclipse.windowbuilder/org.eclipse.wb.os/target/org.eclipse.wb.os-1.9.1-SNAPSHOT.jar': No route to host (Host unreachable) -> [Help 1]

According to [1], w

[2021-10-18 19:55] #57 closed, assigned to nobody

[2021-10-19 20:22] lcaron commented on #16
@wimjongman Wim, what can you do with this issue ?

[2021-10-19 20:30] lcaron commented on #39
Hi Jonathan,

Sorry for my very late answer. Is this problem still relevant with Eclipse 2021-09 and the latest build of WindowBuilder ?

[2021-10-19 20:35] lcaron commented on #51
Wim, for this website do you think that we should keep the "eclipse website" look and feel ? Or something totally different ?

[2021-10-19 20:36] #52 closed

[2021-10-21 06:00] lcaron commented on #53
Nevermind I reproduced the bug with Nebula components.
By the way, can you please post (if possible) the code of your custom component ?

[2021-10-21 09:44] lcaron commented on #51
Nice job, I like it a lot ! It is more modern, and I love the flat icons.
Congratulations (and thank you, of course)

[2021-10-21 10:23] C4J commented on #50
I'll have a look - thank you.

P.S. Just ordered a Apple Silicon Mac so that's going to be something to keep me busy as well !

[2021-10-21 11:47] wimjongman commented on #51
Thanks, Ed!! That looks just great.

[2021-10-21 12:29] wimjongman commented on #54
Ed, I tried it. The only thing that I changed was the location from c:\users\jongw to c:\apps\eclipse\oomph.

I had the following issues:

1. The git protocol failed
2. After restarting and changing it to https the installer required my GitHub user even though I said "anonymous"

Other than that it worked perfectly.

[2021-10-21 12:55] merks commented on #54
The git protocol only works if you've uploaded ssh keys.  I always use that so I haven't tested the others.  I should do that.  Thanks for testing!

[2021-10-21 19:40] lcaron commented on #48
The second part of this bug is a duplicate of #53

For the first part can you provide the custom component ?

[2021-10-21 20:33] vogella commented on #51
Thanks, Ed.

+1 for closing

Laurent CARON ***@***.***> schrieb am Do., 21. Okt. 2021,
22:22:

[2021-10-21 20:40] #51 closed, assigned to nobody

[2021-10-21 20:56] wimjongman commented on #46
I changed marketplace with an alternative feed:

https://github.com/eclipse/windowbuilder/commits/master.atom

Let me know if anyone knows a better feed.

[2021-10-22 08:08] vogella opened #62 "Update WB to Java 11"
As Eclipse moved to minimum Java 11 a longer time ago, we should also move WB to Java 11 to be able to use Java 11 API.

Any concerns with that?

[2021-10-22 08:24] vogella opened #63 "Update Tycho build config"
During my migration of the build from Google build to Tycho I keeped the Tycho configuration in a separate project. These days I prefer to have it in the top-level pom. I will update this and use use recent Tycho version.

[2021-10-22 09:02] vogella opened #66 "Build WB with Java 17 and Java 11"
As @lcaron was so kind to make WB also work with Java 17 I suggest we update your build verification to build WB on Java 17 as well as Java 11.

Btw. did we stop using Jenkins? @wimjongman do you know that? I though my Github build action were only used as addition.

[2021-10-22 11:01] MarcelduPreez opened #72 "Security manager prevents us from including it in our product"
In the DesignerPlugin the installSecurityManager method prevents us from using the wibu security manager in our product. Can this method be removed safely?

[code]

We commented out this method and did not notice any side-effects. We would like to migrate to the standard WindowBuilder code.

[2021-10-22 11:20] #63 closed, assigned to vogella

[2021-10-22 11:39] vogella opened #74 "Run remove trailing whitespace on the code base of WB"
This will prevent unrelated WS changes coming from the save actions.

[2021-10-22 12:03] vogella opened #77 "Remove support for GWT"
AFAIK Google discontinue the GWT UI support. Window builder still has support for it, e.g. it has support for creating a GWT artifact  via its wizard.

Should we remove it from WB code basis?

[2021-10-22 12:18] #74 closed, assigned to nobody

[2021-10-22 12:19] #72 closed, assigned to nobody

[2021-10-22 15:13] lcaron opened #79 "Get rid of Guava"
Remove the Guava library

[2021-10-22 15:49] #77 closed, assigned to nobody

[2021-10-22 15:54] vogella opened #80 "Extend SWT version check for future versions"
See https://github.com/eclipse/windowbuilder/pull/78/commits/600aabd19780520273e9ae69a32c40ed9c154b26#diff-5eb7f2f72f1f50faa4913e61850854634fd7c031198856d6e5ff1dd92debe5b5R92

IMHO we should simply remove the version check.

[2021-10-22 16:48] #79 closed, assigned to nobody

[2021-10-23 10:13] wimjongman opened #82 "Example Issue for Testing"

[2021-10-23 11:44] #82 closed, assigned to nobody

[2021-10-23 13:56] #54 closed, assigned to merks

[2021-11-02 15:22] vogella commented on #42
@MarcelS4 something for you? Maybe start with adding the tests to the build without executing them?

[2021-11-15 09:15] C4J opened #92 "Clarification on WindowBuilder and Apple Silicon M1 machines"
I currently use a intel mac and would like to move to a Apple Silicon Mac but I'm not clear about what will and won't work. First of all I'm unclear as to the status of an arm version of Eclipse, I would prefer to stay with the Intel version if it's not production ready. The main question would be the status of plugins for eclipse. I assume plain java only plugins will be ok but I was not sure abo

[2021-11-15 10:41] merks commented on #92
There are aarch64 versions of  SWT, the Eclipse SDK since the current release,   the Eclipse Installer for the upcoming release, for the EPP package for 2021-12 M12 (for the upcoming release), for JustJ's JREs for Java 17.  E.g., https://www.eclipse.org/downloads/packages/release/2021-12/m2

So you should expect that mostly the ARM version of Eclipse will work well.   As far as I understand it you

[2021-11-15 10:55] C4J commented on #92
I will certainly try. It’s about 3 weeks before my machine arrives so I’m trying to research as much as I can in advance.

Question - what does the M2 in the eclipse link signify ?

My shopping list (setup on new Mac) will be

Java 8 JDK
Java 11 JDK
Apache Tomcat 9 & 10
Eclipse IDE Enterprise Edition 2021-?? latest
WindowBuilder Pro Plugin
JasperReports Studio Plugin
MySQL Database
ANT Command Lin

[2021-11-15 11:05] merks commented on #92
Eclipse has a release schedule:

https://wiki.eclipse.org/Category:SimRel-2021-12

Here the M2 is the second milestone.

Yes, it sounds like things could get confusing quite easily.   But such is life.  Even if you have Java 8, Java 11, and Java 17 installed for one architecture, you're never quite sure which one will be used where...

[2021-11-15 11:49] C4J commented on #92
Maybe initially until there are arm builds for command line tools such as ANT ( I could not find one ) then it’s going to be simpler to manage if I stick with Intel based binaries. By all accounts I should still see a significant speed boost.

Dave

David Garratt
***@***.***

www.commander4j.com

Please consider your environmental responsibility before printing emails.

[2021-11-15 12:28] MarcelS4 opened #93 ""Restore default value" on Layout property causes the Layout property to disappear"
The "Restore default value" feature on the Layout property causes the Layout property to disappear.

Steps to replicate:
1. Select any other layout other than BorderLayout (as BorderLayout is the default).
2. Right click on the layout property and from the context menu select "Restore default value"

The property can be restored by using the Undo option or the by closing the editor and re-opening

[2021-11-16 07:29] MarcelS4 commented on #93
The setValue method in the LayoutInfo class just ran a "delete" method. I have removed the "delete" method and altered the setValue method to set a default layout (i.e. BorderLayout). The delete method is still called on the older layout within the "setLayout" method of the parent container.

[2021-11-16 08:31] wimjongman commented on #93
Marcel, I think that the default layout is an absolute layout (no layout). Is there not a preference value that declares the default layout? If we pick a hardcoded default I suggest to use filllayout or gridlayout.

[2021-11-16 08:33] MarcelS4 commented on #93
@wimjongman I have not seen a default value yet but I could be wrong. I can set it to the use the filllayout or gridlayout no problem. I just used what was the default layout set when creating a new screen.

[2021-11-16 10:17] MarcelS4 commented on #93
@wimjongman Did you mean flowLayout or gridLayout? I do not see a fillLayout? For the time being I'll use gridlayout

[2021-11-16 11:01] wimjongman commented on #93
Maybe FillLayout is not a layout in swing? I don't know what the goto layout is in Swing.

[2021-11-16 11:30] MarcelS4 commented on #93
Yes it seems to be an SWT layout. I have used the default GridLayout. For the case when no specific default is set in the preferences

[2021-11-17 07:39] C4J commented on #92
Can I just ask for clarification, are you saying that I should be able to run this Apple Silicon Eclipse with the latest WindowBuilder ?

Dave

David Garratt
***@***.***

www.commander4j.com

Please consider your environmental responsibility before printing emails.

[2021-11-17 07:57] merks commented on #92
It's not entirely clear that the Window Builder build infrastructure will produce all the right things.  E.g., this doesn't include all the current/modern combinations available in the Eclipse Platform:

https://github.com/eclipse/windowbuilder/blob/018d131d03572ea25eeed03481a72639127dcfee/org.eclipse.wb.releng/pom.xml#L97-L120

Also this appears to be specific to the mac but only for x64:

https:

[2021-11-17 08:43] C4J commented on #92
Is this the right place to ask about compatibility of window builder and arm based eclipse / java etc ?

David Garratt
***@***.***

www.commander4j.com

Please consider your environmental responsibility before printing emails.

[2021-11-17 11:36] C4J commented on #92
I know I'm a little premature but I suspect it will take me several days to configure the new laptop with my development tools and it seems critical that I get the right type of Java JDK (Intel or Apple Silicon) at stage one. I use WindowBuilder all the time and it's a **must have requirement for me**. Shame I don't know anyone with a M1 based machine who can experiment for me. Java (arm), Eclipse

[2021-11-17 11:40] C4J commented on #62
Do I understand that WindowBuilder always uses the JDK which is bundled as part of the Eclipse download and that at the moment even though Eclipse is using the latest version of Java - it's only using JDK 8 compatible API calls ? If I understand correctly (and I probably don't) then this would only effect those people who develop WindowBuilder itself and not developers like myself who just use it

[2021-11-17 11:41] merks commented on #92
Yes, the packaged *.dmgs have a JDK bundle.   But the Installer will let you choose the JDK externally or will let you choose to installer a Just JRE.   As I mentioned before, my understanding is that the JDK used to run Eclipse must be the same architecture as Eclipse.  I believe if you install with the aarch64 installer it will require you to specify an aarch64 JDK/JRE and will install a aarch64

[2021-11-18 13:40] wimjongman commented on #92
@C4J David, I would not throw away my old laptop if I was you. Things will _probably_  _eventually_ work but here at windowbuilder there is nobody who is using your future hardware. You will be the one that is doing the testing.

[2021-11-18 13:47] C4J commented on #92
As long as the rosetta2 emulation works and I can use the x64 versions of everything I will be ok. I though the Mac was the developer machine of choice these days I hope I’m not the only one developing on it. I’ve had generally a very good experience with Java, Eclipse and WindowBuilder on the Mac.

Are you saying there won’t be an specific support for arm type processors with WindowBuilder ? Is w

[2021-11-18 14:05] wimjongman commented on #92
Please remove all your footers and old message data when you reply through email. The discussion becomes very messy with all that junk included. 🙏

It is open source, David. No guarantee for support. The project is kept floating by a couple of volunteers who love WB as you do. You can be our ARM guy if you want. You are more than welcome to join the project.

[2021-11-18 14:07] C4J commented on #92
I would love to be able to assist - yes please.

David Garratt
***@***.***

www.commander4j.com

Please consider your environmental responsibility before printing emails.

[2021-11-23 07:04] MarcelS4 opened #95 "Creating Color Picker Preferences"
We require the ability to select which color pickers are available when selecting the foreground/background of a widget.

Previously all the color pickers were available at all times and there was no easy way to hide them, other than removing them from the WindowBuilder.
Previously the color chooser (for swing widgets) would display the following Color chooser dialog:
![image](https://user-images.

[2021-11-23 12:07] vogella commented on #46
@rolfth can this issue be closed of is there still somthing to do? Please reopen if there is still something to do.

[2021-11-23 12:07] #46 closed

[2021-11-23 12:10] vogella commented on #42
I have lots of tests which could be activated

![image](https://user-images.githubusercontent.com/139910/143021699-285bfdd7-5a3d-4a4b-be62-d79c7e4a7ee0.png)

[2021-11-23 12:13] vogella commented on #62
@C4J yes, that is a correct understanding. Also in theory someone who uses a very old Eclipse which still runs on Java 8 could be affected, as latest WB would not work on this release anymore.

[2021-11-23 12:19] C4J commented on #62
I recently found out that Eclipse 2021 12 M3 comes with Java 17. I was hoping to use the arm version of that with Apple M1 mac - but apparently JasperStudio plugin is broken with Java 17 - still works with 16 though.

What versions of java will WindowBuilder run with ? I recall some previous chats about the reflection api or something like that ?

[2021-11-23 12:29] vogella opened #98 "The package org.xml.sax is accessible from more than one module: <unnamed>, java.xml"
Trying to make the test run, I see the following errors:

The package org.xml.sax is accessible from more than one module: <unnamed>, java.xml

For example:

[ERROR] The package org.xml.sax is accessible from more than one module: <unnamed>, java.xml
[ERROR] C:\Users\vogella\git\windowbuilder\org.eclipse.wb.tests\src\org\eclipse\wb\tests\designer\core\model\description\ComponentDescriptionHelperTe

[2021-11-23 12:43] vogella commented on #98
Strange, no idea what causes this. Maybe the update of the BREE to Java 11 in the text module.

[2021-11-23 13:46] vogella commented on #98
Looks like as soon as I increase the BREE in a plug-in to Java 11 and this plug-in uses org.xml.sax  I get this error.

[ERROR] The package org.xml.sax is accessible from more than one module: <unnamed>, java.xml

[2021-11-23 14:02] wimjongman commented on #95
Very nice, brother. Thanks!

[2021-11-23 14:53] vogella commented on #62
Started this with: https://github.com/eclipse/windowbuilder/pull/100 and https://github.com/eclipse/windowbuilder/pull/99

[2021-11-23 15:50] vogella commented on #42
https://github.com/eclipse/windowbuilder/pull/103 adds tests to the compiler

[2021-11-23 21:37] wimjongman commented on #98
Yes, I think it means that you can remove the package dependency because java.xml is already provided by the jvm

[2021-11-24 09:43] MarcelS4 opened #107 "Obtaining the GraphicalViewer object form DesignComposite"
We need the ability to obtain the GraphicalViewer object from the DesignComposite. This is so that we can use it in our application specific drag and drop feature.

I have added a public getter method to the DesignComposite class

see PR #106

[2021-11-24 14:08] vogella commented on #42
@MarcelS4 see https://github.com/eclipse/windowbuilder/pull/105 for an example for activating a test suite

[2021-11-24 18:26] lcaron commented on #62
I confirm that WB runs with JDK 8 to 17 now.
Feel free to contact me for further details

[2021-11-24 18:37] C4J commented on #62
﻿I guess my only question for now would be - will it work with the Apple Silicon M1 version of eclipse as well as the intel version. I’ll find out in 2-3 weeks if it arrives as per estimate.

Sent from my iPhone

[2021-11-25 09:06] MarcelS4 opened #110 "Hiding/Showing Windowbuilder toolbars"
We needed the capability to hide the Windowbuilder toolbar as our application has its own toolbar that have similar functionality but not the same. Therefore to have both toolbars visible would cause confusion and interference.

The problem was that there was no way to hide this toolbar from our application without altering the Windowbuilder itself.

To solve this issue I have added a class called

[2021-11-27 03:08] LifeWatcher123 opened #112 "WindowBuilder is empty on a fresh Flatpak installation"
Hi.

Even after reinstalling Eclipse and deleting `.p2`, `.eclipse`, and workspace folders on my home directory, WindowBuilder is still empty. Additionally, two entries pop up on the error tab, with their details included below.

I should also point out that this error also occurs on my past installs using the installer provided in the Eclipse website, with reasons I don't know about.

Installatio

[2021-11-29 15:56] wimjongman commented on #112
Why did you delete .eclipse and .p2 directories?

Can you describe the whole run? First, you installed Eclipse and then installed WB into it?

[2021-11-29 18:47] lcaron commented on #112
Mmmh weird, this problem occured with previous versions of WB. Did you try with the latest snapshot ?

[2021-11-30 07:58] LifeWatcher123 commented on #112
I was just honestly guessing what to do. Some guides online that I followed for previous problems when I wanted to 'completely delete Eclipse' was to delete those two directories along with the Eclipse installation. It helped me with past problems, so I thought of doing it with this one.

If by latest snapshot you mean the latest WindowBuilder, I tried the 'Current' version available according to

[2021-11-30 08:03] LifeWatcher123 commented on #112
Yes, I installed Flatpak Eclipse first, then installed WB into it using the 1.9.7 version from [the link here](https://www.eclipse.org/windowbuilder/download.php).

[2021-11-30 08:38] vogella opened #113 "WB tests fails with references to 32 bit and unsupported platforms"
Looks to me that WB still tries to configure the 32 bit platform.

` /**
   * Configures given {@link TestProject} for using RCP.
   */
  public static void configureSWT(TestProject testProject) throws Exception {
    if (EnvironmentUtils.IS_WINDOWS) {
      testProject.addPlugin("org.eclipse.swt.win32.win32.x86");
    } else if (EnvironmentUtils.IS_LINUX) {
      if (EnvironmentUtils.IS_64BIT_OS)

[2021-11-30 08:39] vogella commented on #113
EnvironmentUtils still contains lots of unsupported platforms.

[2021-11-30 08:44] vogella commented on #48
One location with a hard-coded color value is org.eclipse.wb.core.gef.header.Headers#getColorHeader;

[2021-11-30 08:48] vogella commented on #113
@wimjongman @lcaron do you have a Mac? ProjectUtils#addSWTLibrary contains to a special case for Mac which I cannot test.

[2021-11-30 10:28] vogella commented on #62
@C4J No idea, I don't have access to Silicon M1. But this is also a different topic, so if it does not work, please open a new issue.

[2021-11-30 23:29] wimjongman commented on #112
Ok, try the upcoming 1.9.8 version. 1.9.7 has issues with java > 11

Please re-open if the problem persists.

[2021-11-30 23:29] #112 closed

[2021-11-30 23:33] wimjongman commented on #113
Cool, yes, I have a mac mini laying around for stuff like this.

[2021-12-03 08:09] LifeWatcher123 commented on #112
Yup.

Yup. That's consistent with my installation. It works now with a JDK16 version with the 1.9.8 version.

Thanks for the help.

[2021-12-05 12:08] JackHammmmer opened #118 "WindowBuilder was not able to show the GUI."
Unable to load *.wbp-component.xml description.

For component javax.swing.JFrame.

Checkroot exception for details.

Hide stack trace.

Stack trace:
org.eclipse.wb.internal.core.utils.exception.DesignerException: 502 (Unable to load *.wbp-component.xml description.). javax.swing.JFrame
	at org.eclipse.wb.internal.core.model.description.helpers.ComponentDescriptionHelper.getDescription0(ComponentD

[2021-12-05 20:16] lcaron commented on #118
Hi,

Can you please try with WindowBuilder 1.9.8 please ?

Laurent

[2021-12-06 02:50] #118 closed

[2021-12-06 16:30] opcoach commented on #113
![windowbuilder113](https://user-images.githubusercontent.com/1716878/144884106-8f1ff3ba-1926-48c2-99a4-270f92a2d1de.jpg)

[2021-12-07 15:24] vogella commented on #113
@opcoach IIRC the databinding tab shows if you have a databinding dependency.

[2021-12-08 07:16] MarcelS4 opened #120 "Limited options for Design Context Menu"
We need the ability to hide the options from the context menu that are not used and could cause problems with our existing implementations. I.e. we need to be able to only show the basic actions in the context menu such as the Cut, Copy, Paste and Delete actions.

Solution description: I have added preferences to the DesignContextMenuProvider class in the buildContextMenu method. These preferences

[2021-12-09 00:22] yhld456 opened #122 "eclipse 2021-12 JDK17 Open Windowbuilder not display"

[2021-12-11 14:41] System0x40 commented on #122
@yhld456 Add --illegal-access=permit to the vmargs in your eclipse.ini if its not already there

[2021-12-13 00:40] yhld456 commented on #122
![win](https://user-images.githubusercontent.com/16898080/145736306-34aa2c92-9b5f-488c-bddb-f38ed99f8a87.png)
![win2](https://user-images.githubusercontent.com/16898080/145736405-2696bd80-d377-48c2-8dc8-b1d981e85abf.png)

!ENTRY org.eclipse.ui 4 0 2021-12-13 08:38:26.067
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.NoClassDefFoundError: Could not initialize class net.sf.cglib.proxy.E

[2021-12-14 05:27] System0x40 commented on #122
cglib is a code generation library WB uses. WB ships it under org.eclipse.wb.runtime.lib. You either dont have this bundle or it doesnt get loaded. You can start by checking if it exists at all. It should be in your plugins' folder (Keep in mind that Eclipse installer keeps the p2 pool somewhere in user.home by default so the real deal should be there and not in eclipse's installation path)

[2021-12-15 10:04] wimjongman commented on #92
Please remove all your footers and old message data when you reply through email. The discussion becomes very messy with all that junk included. 🙏

[2021-12-15 13:07] #92 closed

[2021-12-16 12:55] wimjongman commented on #92
@C4J said: Just thought I would let you know that I’ve recently got a new machine and I’ve managed to get the native arm version of Eclipse and Java running fine. I installed WindowBuilder and imported an existing project. All seems to be working fine and noticeably faster.

[2021-12-16 12:58] wimjongman opened #123 "Open discussions"
Can one of the PL's please activate discussions?

[2021-12-16 13:00] vogella commented on #123
@lcaron is our only active PL.

[2021-12-17 18:16] amitin commented on #92
WBP uses some native code to get a proper visual representation of widgets on design pane.
The stuff at https://github.com/eclipse/windowbuilder/tree/master/org.eclipse.wb.os.macosx/native/mac
...should be built for aarch64 target and put into the appropriate native/<os>/<ws>/<arch> folder, see https://github.com/eclipse/windowbuilder/tree/master/org.eclipse.wb.os.macosx/os/macosx
It's pretty much

[2021-12-17 18:50] C4J commented on #92
I downloaded the aarch64 version for MacOS from https://www.eclipse.org/downloads/packages/ <https://www.eclipse.org/downloads/packages/>

Then installed WindowBuilder from the Eclipse Marketplace.

So far its just working for me. I don’t use SWT components in my application.

I suppose the only thing which I don’t know is something which simply does not exist yet would be support for dark mode bu

[2021-12-20 11:01] lcaron commented on #123
Discussion are now open ;)

[2021-12-20 11:01] #123 closed

[2021-12-20 11:03] lcaron commented on #122
Hi

The argument --illegal-access=permit is no longer supported with Java 17.

The current snapshot release (https://download.eclipse.org/windowbuilder/lastgoodbuild/) should solve this problem. Did you try with this version ?

[2021-12-21 09:24] vogella opened #125 "Document the release process of WB"
AFAIR @wimjongman handled in the past years the release of WB. We should document the process in the source code, so that we can look it up.

IIRC we following is necessary:

1.) a release record: https://projects.eclipse.org/projects/tools.windowbuilder/releases/
2.) Run the release job on Jenkins
3.) Update the Simrel record
4.) Maybe need a release review from the foundation

(wim)
The followin

[2021-12-21 09:44] vogella opened #127 "Build WindowBuilder against 2021-12 release"
To ensure that WB works with the latest release we should build against. 2021-12 instead of 2020-09

[2021-12-21 10:20] #127 closed

[2021-12-21 13:55] #113 closed

[2021-12-21 13:56] vogella commented on #122
If i start WB from an runtime Eclipse with a Java 17 runtime and try to open a view I get a JVM crash

# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f15eb4b0c76, pid=10865, tid=10870
#
# JRE version: OpenJDK Runtime Environment Temurin-17+35 (17.0+35) (build 17+35)
# Java VM: OpenJDK 64-Bit Server VM Temurin-17+35 (17+35, mixed mode, sharing, ti

[2021-12-21 14:40] vogella commented on #80
We can also just add multiple version so that we are sure we support new versions for a while.

[2021-12-21 14:44] vogella commented on #48
Looks fine on latest 2021-12 release with Linux for me.

![window-builder](https://user-images.githubusercontent.com/139910/146948520-617dc91b-8c96-41a2-b3f2-3339d69013af.png)

As we have not heard back from @ivanooi I marked this one as closed.

[2021-12-21 14:44] #48 closed

[2021-12-21 15:15] System0x40 commented on #122
I did. 1.9.7.202112211354 works. It's on Windows tho.
(Temurin 17+35)

[2021-12-21 16:12] vogella commented on #56
Unrealistic to have this in the near future, please reopen if you plan to work on this.

[2021-12-21 16:12] #56 closed

[2021-12-21 16:13] vogella commented on #110
Sorry @MarcelS4 for the delay, but the current version of WB crashes my VM at least under Linux.

[2021-12-21 16:15] vogella opened #132 "WB crashes VM under Linux"
Trying to use WB under Linux crashes the VM.

I tried with Java 11 hotspot, J9 and Java 17 Temurin.

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by net.sf.cglib.core.ReflectUtils$2 (file:/home/vogella/git/windowbuilder/org.eclipse.wb.runtime.lib/lib/cglib-nodep-2.2.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int,j

[2021-12-29 19:06] HipotenusaBR commented on #122
This isn't the solution but this can be helpful for people like me that spent 6 hours for this. I tested running eclipse with JDK 11, and it worked, JDK 17 & 16 don't work. Create a Java 11 project and be happy :)

remebering: WindowBuilder won't work if the project is 12 or more if the eclipse is running under 11, i don't know how to help if you can't downgrade

i'm also using the pre version

so

[2022-01-09 04:57] echavez-eb opened #133 "Window Builder FAILS TO INSTALL"
I tried to install Window builder from here:
https://download.eclipse.org/windowbuilder/latest/

Here are the errors returned by eclipse

An error occurred while collecting items to be installed
session context was:(profile=C__Program Files_eclipse, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
No repository found containing: osgi.bundle,org.eclipse.wb.doc.user,1

[2022-01-09 05:05] echavez-eb commented on #122
Using that causes the following errors:
An error occurred while collecting items to be installed
session context was:(profile=C__Program Files_eclipse, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
No repository found containing: osgi.bundle,org.eclipse.wb.doc.user,1.9.1.202112211354
No repository found containing: org.eclipse.update.feature,org.eclipse.wb.doc.us

[2022-01-09 07:21] echavez-eb commented on #133
I also tried installing by manually downloading the zip file. The "create new visual classes" button doesn't display.
I'm using Eclipse 2021-12

[2022-01-09 11:04] lcaron commented on #133
Hi,

Can you please try using https://download.eclipse.org/windowbuilder/lastgoodbuild/ instead of https://download.eclipse.org/windowbuilder/latest/ ?

[2022-01-09 12:07] lcaron commented on #132
Hi @vogella

Can you give more information ?

I was able to "play" with WB with Java 17. Here is what I did with Fedora release 29 + GTK 3.14
1) Install Java 17 (Oracle)
2) Install Eclipse 2021-12 for Commiters. Eclipse runs with the JDK 17 I've installed before
3) Install WB latest good build (drag n'drop from https://www.eclipse.org/windowbuilder/download.php)
4) Create a new SWT project

Do you

[2022-01-09 12:18] lcaron commented on #122
Can you please try with a brand new installation ?

I've successfully installed Eclipse + WB with JDK 17 (Oracle) on my Windows 10 computer

a) I've downloaded and installed Eclipse 2021-12 for commiter
b) I've changed my configuration in order to make Eclipse works with JDK 17
c) I've checked if the installed JRE in Eclipse (Window > Preferences > Java > Installed JRE). It should be JDK 17
d) I o

[2022-01-09 17:42] Bio7 opened #134 "WindowBuilder empty palette Java 17 installed in RCP"
I still get an empty palette with Java 17 when I install the latest WindowBuilder plugin in my RCP application with the p2 Update Manager. In Eclipse however it seems to work. The following error is thrown when I open and click on the design tab:

[code]

With Java <16 there was no problem.

I can reproduce this error on MacOSX and Windows using
Eclipse Adoptium, java.version: 17.0.1

[2022-01-09 20:25] lcaron commented on #134
Hi,

Sorry for that bug... Can you post the whole stacktrace ?
Can you also check if the plugin **org.eclipse.wb.core** is started ?

[2022-01-10 05:00] yhld456 commented on #122
Thank you, after I use it, the function is normal

[2022-01-10 05:00] #122 closed

[2022-01-10 05:05] yhld456 commented on #122
Thank you, after I use it, the function is normal

[2022-01-10 05:07] yhld456 commented on #122
Thank you, after I use it, the function is normal

***@***.***

From: echavez-eb
Date: 2022-01-09 13:05
To: eclipse/windowbuilder
CC: OrganicVegetables; Mention
Subject: Re: [eclipse/windowbuilder] eclipse 2021-12 JDK17 Open Windowbuilder not display (Issue #122)
Hi
The argument --illegal-access=permit is no longer supported with Java 17.
The current snapshot release (https://download.eclipse.org/

[2022-01-10 18:29] Nico-1808 opened #135 "Scaling issue in WindowBuilder when Windows Scaling is not at 100%"
If Windows scaling for text, applications and elements is NOT set to 100% WindowBuilder will not show the right scaling for the components. The frame icon has double of is's normal size and close, minimize and maximize button wont show up.

I'm using all latest versions that are available and also did a completly reinstall Eclipse, WindowBuilder als well as JDK 17
Steps to reproduce

1. Go to your

[2022-01-11 15:23] lcaron commented on #135
Hi

First of all I would like to thank you for this very clear and precise description.

The original code of WB was designed when scaling was not possible, so this behaviour is not a surprise. It needs to be investigated.

[2022-01-11 15:51] Nico-1808 commented on #135
I would like to add, that if you use WB with that first **work around** you may get into trouble when running your code. In my case I wondert why my window was not abel to display everyting in it's setted size. I recognized, that if you use Window Builder with a different scaling than 100% Windows also scales up or down the size of elements and text in your frame by the factor you choose in the Wi

[2022-01-11 15:55] lcaron commented on #134
In your list of plugins, you have 2 families :
- the plugins with version number 1.9.1.202009181620. These plugins correspond to WB 1.9.4 (https://archive.eclipse.org/windowbuilder/1.9.4/)
- the plugins with version number 1.9.1.202112211354. These plugins correspond to upcoming WB 1.9.8

Can you please clean/update your configuration in order to use only the latest release of WB ?

[2022-01-11 15:59] Nico-1808 commented on #135
### **NEW Workaround for HDPI-Displays:**

Set your Windows scaling to 100% and lower your resolution to a scaling where it's easy to read the displyed text and icons.
I know it might be a bit annoying but with this you can solve both issues at once.

[2022-01-11 16:01] lcaron opened #136 "Update plugin version number"
Plugins version numbers are not consistent with the major version number.

[2022-01-11 16:16] Bio7 commented on #134
I once again cleaned up with the latest built (somehow I reverted the installation to test older versions)
However the same error occurs: design tab stays empty,on click the error message -in additon in the console I get a "BurningShell" log message with ASCII Art

Here the updated configuration:

org.eclipse.wb.core (1.10.1.202112211354) "WindowBuilder Core" [Active]
org.eclipse.wb.core.databindi

[2022-01-11 17:06] lcaron commented on #134
Ok thank you for your feed back.

I'm a bit puzzled by this bug. If you remove the options `--add-options` is it better ?

[2022-01-11 19:11] Bio7 commented on #134
No, that doesn't makes a difference. I think the bug is quite similar to the reflection bug for Java 16 which was cured for Eclipse with the workaround.

https://github.com/eclipse/windowbuilder/issues/45

However this also didn't work for an RCP application.

The last running version was with Java 15.

Unfortunately I don't get an informative error message why the design tab is empty.

[2022-01-14 10:19] EinzKleinNico commented on #133
You could also try to download WB from eclipse marketplace. Therefor you open eclipse, go to "Help" then down to "Eclipse Marketplace". After klicking on eclipse marketplace a new window should open. Type WindowBuilder into the search field and then download the latest version of WindowBuilder.
I use the current Eclipse version 2021-12 (4.22.0) and WindowBuilder Nightly Build 1.9.8.pre

[2022-01-18 08:13] #80 closed

[2022-01-18 09:32] vogella opened #140 "Close down WB mailing in favor of https://github.com/eclipse/windowbuilder/discussions"
I suggest to close down our WB mailing and only use https://github.com/eclipse/windowbuilder/discussions

@wimjongman and @lcaron WDYT?

[2022-01-18 13:17] lcaron commented on #140
👍 for me, good idea. It will "force" users to use discussions, and the less channel we have the easier it is.

[2022-01-19 10:43] MarcelS4 opened #145 "Hiding of Advanced Properties and Events Actions"
We require the ability to hide the advanced properties and events actions on the Components Properties view toolbar.

![image](https://user-images.githubusercontent.com/92920738/150114781-2779e009-73b8-4640-aa1e-74ac32650a92.png)

[2022-01-20 06:38] MarcelS4 opened #147 "Hiding of buttons on Exception and Warning dialogs"
We require the ability to hide the following buttons:

Exception dialog:
- Contact support
- Refresh
- Switch to Code

Warning dialog:
- Refresh
- Switch to code

[2022-01-20 07:24] MarcelS4 opened #149 "Renaming the root object in the Tree view"
We require the ability to set the root object name in the tree view, instead of using the fully qualified name.

![image](https://user-images.githubusercontent.com/92920738/150292198-cf8d348d-7a60-444c-910a-8ccd4e1277a7.png)

[2022-01-20 09:52] EinzKleinNico commented on #149
![eclipse change element name](https://user-images.githubusercontent.com/89223042/150312811-8dcbf42d-2a1e-412c-b1ac-bfec5a89c5a2.jpg)

1. Choose the element you want to rename.

The "Properties" window/panel should now show up all variables that you can change.

2. Click into the field next to "Variable" this should be the first row.

You could also change the name of elements in your source code

[2022-01-23 07:42] ItsOnlyKatniss opened #153 "Design tab not showing properly (Empty panels)"
When I create a Frame using the WindowBuilder/Swing Designer/JFrame wizard and open the design tab, I do not see the frame in the tab and all of the other panels (Palette, Components, Properties) are empty:
![Screenshot 2022-01-23 195530](https://user-images.githubusercontent.com/45721520/150668713-074c8600-b4ed-4f02-8af9-a5b502f1b58a.png)

The output in eclipsec.exe reports a call to a "terminall

[2022-01-23 09:13] EinzKleinNico commented on #153
Well I had the same problem. Its because you dont use the curent version of windowbuilder. The curent version is 1.9.8 pre. If you download WB from eclipse website its the second link not the first.

[2022-01-23 11:02] lcaron commented on #153
Hi,

WindowBuilder 19.7 is not compatible with Java 16+. You have to use upcoming release (1.9.8) (https://download.eclipse.org/windowbuilder/lastgoodbuild/)

We plan to release officialy 1.9.8 soon.

[2022-01-23 11:06] lcaron commented on #140
I propose to close the ML and update the website after the next release (1.9.8).
For closing the ML, does anybody know what is the procedure ?

[2022-01-24 08:42] vogella commented on #140
I guess an email to webmaster@eclipse.org with reference to this bug should be sufficient.

[2022-02-01 12:06] MarcelS4 opened #162 "Illegal argument during drawImage"
When placing a widget on the screen the UI displays that the element can not be placed in that location (this is as is expected). However an error is still logged. This would not necessarily be an issue, however this occurs even when the mouse just moves over such a "illegal" position.

In my case the error can be replicated by adding a ScrollPane widget to a layout and then selecting another widg

[2022-02-02 10:46] DidVer opened #164 "Blank screen when open vue"
When i open a view in eclipse, no desing screen is present and no toole for desing the windows
i re installation of eclipse and pluging but same result
this view was open in windows buider à few week before
[vClasseurVirtuel.zip](https://github.com/eclipse/windowbuilder/files/7985682/vClasseurVirtuel.zip)

[2022-02-03 09:15] wimjongman commented on #162
Thank you, @MarcelS4.

[2022-02-03 09:15] #162 closed

[2022-02-03 09:16] #153 closed

[2022-02-10 06:37] MarcelS4 opened #166 "Windowbuilder Basic UI Layouts"
We require that certain layouts be hidden within the Windowbuilder Basic UI. The only layouts that should be available for the user to use in the WB Basic UI are: Absolute Layout, Box Layout, Grid Layout and GridBag Layout.

This should be reflected in the Layouts dropdown option of the properties view.

[2022-02-10 06:58] MarcelS4 opened #168 "Palette Layout preferences required"
We require the ability to adjust the layout of the editor palette. This should be done with a context menu instead of requiring the user to go to the preferences and adjust settings. The layout should be able to be set as a List, Columns, Icons with description or Icons only.

A settings dialog should also be accessible allowing the user to set the Font style and size of the description text and t

[2022-03-05 15:31] cleggink commented on #47
What is the correct way to handle this on a Windows 10 machine with Eclipse Version: 2021-12 (4.22.0) Build id: 20211202-1639? I ammended my shortcut to --add-opens java.base/java.lang=ALL-UNNAMED with no result.

[2022-03-05 16:15] cleggink commented on #40
None of this worked for my situation. I've got a Windows 10 machine with jdk-17 and eclipse Version: 2021-12 (4.22). I've added everything to the Eclipse.ini and created the bat file to load Eclipse as shown above and my swing designer palette is still empty with that pesky event loop exception still pooping up. Any ideas would be wonderful.

[2022-03-08 16:54] lcaron commented on #40
Hi

If you use JDK 17 adding parameters will be useless.

Can you please try with the upcoming release of WB (https://download.eclipse.org/windowbuilder/lastgoodbuild/) ?

Laurent

[2022-03-14 14:39] #149 closed

[2022-03-14 14:42] #147 closed

[2022-03-14 14:59] wimjongman commented on #140
Fixed

[2022-03-14 15:12] wimjongman commented on #136
They don't need to be.  However,

* for every non-breaking change the maintenance segment should be incremented (e.g. with 20)
* for every new non-breaking feature, the minor segment should be upgraded

Closing.

[2022-03-14 15:12] #136 closed

[2022-03-14 15:49] wimjongman commented on #125
Started a wiki here: https://github.com/eclipse/windowbuilder/wiki/Release-Checklist

[2022-03-14 15:51] #107 closed

[2022-03-14 15:52] wimjongman commented on #39
Closing on accord of no follow-up/

[2022-03-14 15:52] #39 closed

[2022-03-14 15:54] wimjongman commented on #66
Resolved

[2022-03-14 15:54] #66 closed, assigned to nobody

[2022-03-14 15:59] #93 closed

[2022-03-14 16:00] wimjongman commented on #62
Is this done?

[2022-03-14 16:01] #62 closed

[2022-03-14 16:03] #140 closed

[2022-03-14 16:05] wimjongman commented on #140
Sorry, this was not fixed. I propose to keep the mailing list since it is a dev-only channel.

[2022-03-14 16:45] wimjongman opened #174 "1.9.8 releng"
Admin for 1.9.8 releng issues.

[2022-03-17 10:22] Bart76 commented on #153
The "last good build" completely messes up my Eclipse environment. Thanks.

[2022-03-17 20:00] wimjongman opened #175 "1.10.0 Releng"
Issue to record commits related to releng and documentation

[2022-03-17 21:32] wimjongman commented on #174
1.9.8 is released

[2022-03-17 21:32] #174 closed

[2022-03-17 21:34] wimjongman commented on #125
Lars, I have updated the documentation ^^

Can you add documentation there about how to update simrel?

[2022-03-18 12:10] gocursor opened #176 "Lambda Support"
WindowBuilder does not recognize lambda expressions, for example:
    addHelpListener(e -> System.out.println("Help!"));

Support for lambda expressions should be added to enable transition to new coding style where a lot of code is written in lambdas.

WindowBuilder Version: 1.9.7.202112020939

[2022-03-19 10:18] wimjongman commented on #125
Update simrel documentation in release page

[2022-03-19 10:18] #125 closed

[2022-03-19 10:21] wimjongman commented on #176
I agree. Are you able to supply a patch? I can help you get started.

[2022-03-19 10:40] wimjongman commented on #176
![image](https://user-images.githubusercontent.com/180969/159117758-91360172-38c3-4a74-b45d-cb5448f042d8.png)

[2022-03-19 10:54] lcaron commented on #125
Very good job, Congratulations Wim !

[2022-03-21 07:13] gocursor commented on #176
Please help me get started: How do I setup the development environment? Which IDE/version should I use? Are the repos located here at GitHub or are they somewhere else and just replicated here on GitHub? Do I need C/C++ compiler?

[2022-03-21 11:02] wimjongman commented on #176
We have an automated development environment setup script and explanations here:

https://github.com/eclipse/windowbuilder/blob/master/CONTRIBUTING.md

[2022-03-24 08:28] wimjongman opened #179 "WB Team Meeting"
Sorry for the spam @MarcelS4 @vogella @lcaron

I have set a meeting for Friday 14:00 15:00 CET

Please update the next comment to add topics to the agenda.

Microsoft Teams meeting
Join on your computer or mobile app
[Click here to join the meeting](https://teams.microsoft.com/l/meetup-join/19%3ameeting_MDIxYWU2M2YtMmZhZi00ZGEzLWFiNjctOWVhOGMxZjIwMjRl%40thread.v2/0?context=%7b%22Tid%22%3a%22b0e58d

[2022-03-24 08:30] wimjongman commented on #179
Agenda:

* Discuss the Github workflow [1]
* ...

[1] https://www.eclipse.org/lists/platform-dev/msg03439.html

[2022-03-25 14:09] lcaron commented on #179
Sorry for my absence. We have a deadline for tonight and a blocking bug was found this morning, I have to fix it :(

[2022-03-25 14:22] #179 closed

[2022-04-09 12:17] IbrahimRassool opened #180 "issue load gui design"
Unable to load *.wbp-component.xml description.

For component javax.swing.JFrame.

Check root exception for details.

[2022-04-09 15:33] wimjongman commented on #180
There is not enough information to triage this issue. Please make sure you have installed the latest WB.

See: https://github.com/eclipse/windowbuilder/discussions

If this does not solve it then reopen with screenshots and logs attached.

[2022-04-09 15:33] #180 closed

[2022-04-12 07:46] MarcelS4 opened #181 "Set availability of certain Layouts"
We need the ability to hide/show certain layouts. This should affect the layouts displayed in the context menu, designer palette and the dropdown list.

For example a user should be able to specify what layouts should be available in a preference page, this should include layouts of Swing and SWT. If a user selects, say Border Layout and BoxLayout from the Swing layouts preference page and FillLay

[2022-04-12 08:50] feujun opened #183 "WindowBuilder unable to load 'super' class"
I don't know if I should post this here or somewhere else, so just tell me where I should take my bug-report if I'm wrong here 😃.

### Describe the bug
When opening a UI in the Design-Tab, WindowBuilder fails with "Unable to load 'super' class" error. The complete stacktrace is:

<details>
 <summary>Stacktrace</summary>

[code]
</details>
I could also post the entire eclipse-Log but there is not m

[2022-04-16 10:58] feujun commented on #183
I tried it again on another PC with a fresh install and didn't run into the same problem. So it is unlikely directly a WindowBuilder-problem. I'll look into what is different setup-wise. I'll just close this issue for now...

[2022-04-16 10:58] #183 closed

[2022-04-18 07:38] wimjongman commented on #183
Thanks for the feedback. Felix.

[2022-04-18 19:49] victorverga opened #184 "windowbuilder glitch associated with display scaling in Windows 11"
Hello,

When I scale up to 175% the Windows 11 display, the windowbuilder in Eclipse gets glitched, see the screenshots attached, also the icons get too oversized, while the rest of eclipse remains good

A: 100% and normal behavior
B: 175% messed up

![A](https://user-images.githubusercontent.com/52513649/163867361-5526b2ce-6a87-49ab-aa7d-f16e6ea9157d.png)

![B](https://user-images.githubuserconte

[2022-04-18 19:55] victorverga commented on #184
I forgot to mention, I am using a 4k 27 inch monitor at resolution of 2560 x 1440p with 175% scale

[2022-04-19 09:46] vogella opened #186 "Remove copies from GEF in Windowbuilder and use latest libraries"
org.eclipse.wb.core contains copies of GEF and draw2d. As GEF classic is currently revived we should remove this usage and use the latest release from GEF which will be created by https://github.com/eclipse/gef-classic/issues/40

[2022-04-19 09:56] vogella opened #187 "Start using a target platform in WindowBuilder"
We should start using the target platform instead of compiling against the used IDE.

In addition we should reduce the number of copied JAR files in the source repo and use Maven dependencies direct. org.eclipse.wb.core.lib contains lots of copied JAR files.

@mickaelistria can you tell me if the process of using Maven libs directly is already document of projects outside of platform? I assume we

[2022-04-19 09:56] vogella commented on #187
@wimjongman @lcaron any concerns here?

[2022-04-19 09:59] mickaelistria commented on #187
Yes, libs would need to be signed (with PGP), this can be achieved with the right Tycho plugin. See https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/blob/master/eclipse.platform.releng.tychoeclipsebuilder/pom.xml#L41 , this has to be run against p2 repository so it adds PGP signatures to necessary bundles.

[2022-04-19 10:49] wimjongman commented on #187
No concerns. I have created a combined p2/mavenrepo in BIRT.

https://github.com/eclipse/birt/tree/master/build/org.eclipse.birt.target

[2022-04-19 17:32] lcaron commented on #187
No concern for me, thank you @wimjongman

[2022-04-24 09:09] lcaron commented on #184
WB does not handle at all scaling on Windows. Maybe we should migrate to the latest version of GEF ?
I'll work on this after my holidays :)

[2022-04-24 21:40] victorverga commented on #184
I had to scale to help my eyes, it is so small in 2k resolution that we barely can see anything

[2022-04-25 06:23] vogella commented on #184
AFACS GEF classes were copied to WB so this might be a time consuming task to change to the new GEF. But in general this would be desired, as GEF Classic is active again and we can fix issues in GEF directly https://github.com/eclipse/gef-classic/issues/40 is for the next release.

[2022-05-03 11:59] vogella opened #221 "Use cglib from Maven instead of copied JAR files"
Project contaíns copies of cglib-nodep-2.2.jar
cglib-nodep-2.2.zip which IIRC @lcaron replaced a while ago.

[2022-05-03 12:02] vogella commented on #221
Looks like this library is still needed. I will try to add it to the target platform to source it from there.

[2022-05-03 12:30] vogella commented on #187
Done with https://github.com/eclipse/windowbuilder/pull/220. We could now start removing copied libraries and move to Maven dependencies via the target platform.

[2022-05-03 12:30] #187 closed

[2022-05-03 12:37] vogella opened #223 "Replace copied test JARs with Maven dependencies"
org.eclipse.wb.tests contains multiple copied JAR files, which we could replace with Maven libraries.

[2022-05-11 17:17] jposterloh opened #227 "Fix deprecated use of new Integer/Double etc in Code Generation"
If I set a JSpinner to an Integer model, the code generated looks like:
`this.spinner.setModel(new SpinnerNumberModel(new Integer(0), new Integer(0), null, new Integer(1)));`
which provides warnings with JDKs > 9, as the constructor Integer(int) is deprecated since version 9.

The code should look like this:
`this.spinner.setModel(new SpinnerNumberModel(Integer.valueOf(0), Integer.valueOf(0), null

[2022-05-12 09:45] vogella commented on #227
@jposterloh sounds reasonable. Could you send a PR to update the template?

[2022-05-12 10:10] jposterloh commented on #227
I would have done that, if I only had the slightest idea what and where to modify this... I found the SpinnerNumberModelDialog, but I couldn't figure the code generation out. Sorry!

[2022-05-12 10:13] vogella commented on #227
I suggest to clone the code and text search for it. That is what I would do to find it.

[2022-05-12 12:18] wimjongman commented on #227
@jposterloh thanks for chiming in. It is very easy to set up a development environment. It is documented here:

https://github.com/eclipse/windowbuilder/blob/master/CONTRIBUTING.md

[2022-05-12 17:07] #227 closed

[2022-05-17 11:07] vogella commented on #42
Working on Core test suite to make it easier to validate PR from @MarcelS4. Starting to look good in the IDE; now trying to run them in the command line build.

![image](https://user-images.githubusercontent.com/139910/168797384-d2b8acb0-5f0c-4e2c-9daa-cceee2aa264a.png)

[2022-05-17 11:26] vogella opened #237 "Update SwingTests test suite"
SwingTests contains 1381 tests and only a few are failing. We should fix or disable the failing tests and enable the test suite in the Tycho build.

[2022-05-17 11:28] vogella commented on #237
@MarcelS4 can you have a look at this test  suite and fix it or disable the tests? I used "DISABLE_" as a prefix for failing test methods.

[2022-05-17 11:32] MarcelS4 commented on #237
@vogella are these tests on the latest master?

[2022-05-17 11:54] MarcelS4 commented on #237
Running the tests now 👍

[2022-05-17 12:16] vogella opened #239 "Update SwtTests test suite"
Similiar to #237 but for the SWTTests.

[2022-05-17 12:20] vogella commented on #239
Current status:

![image](https://user-images.githubusercontent.com/139910/168809394-241f123f-15d5-4823-be05-a5e8988a664d.png)

[2022-05-17 12:42] vogella commented on #239
After coming PR

![image](https://user-images.githubusercontent.com/139910/168813392-150d4152-d384-419b-8ca0-fd51c631ca5c.png)

[2022-05-17 13:28] #239 closed

[2022-05-17 14:51] vogella opened #247 "Add Nebula tests fails with NLP"
org.eclipse.wb.tests.designer.rcp.nebula contains multiple Nebula tests, lots of them are currently failing if I run the RCPTest suite. I will disable the Nebual test (~35) so that the rest of the tests can be enabled (~1000) but maybe @lcaron would like to have a look.

[2022-05-19 11:51] wimjongman commented on #239
Woot!

[2022-05-19 12:10] vogella commented on #239
Yeah, unfortunately Tycho does not like to run these tests yet. This only makes the tests run locally. Help appretiated.

[2022-05-19 12:11] vogella commented on #237
@MarcelS4 any update here? I could review / merge tomorrow morning.

[2022-05-20 18:28] lcaron commented on #247
Hi @vogella

I'll have a look this week-end,

Laurent

[2022-05-23 09:41] MarcelS4 commented on #237
@vogella Sorry I was off sick on Thursday and Friday. I have added a PR #249

[2022-05-24 09:14] wimjongman opened #252 "Dependecies update"
WB carries dependencies in its own "lib" bundle. This is an antipattern (fat jar) and we should try to eliminate this.

[2022-05-31 10:24] vogella commented on #223
Dupe of https://github.com/eclipse/windowbuilder/issues/252

[2022-05-31 10:30] vogella commented on #247
org.eclipse.wb.tests.designer.rcp.nebula.NebulaTests can be used to check the failing test. I will update it to JUnit4 and "temporary" remove it from RcpTests suite https://github.com/eclipse/windowbuilder/pull/256

[2022-05-31 14:42] vogella opened #260 "java.lang.Error: SWT Resource was not properly disposed in org.eclipse.wb.tests.designer.core.AbstractJavaProjectTest.createImagePNG"
During Unit test execution I see lots of errors messages similar to the following.

java.lang.Error: SWT Resource was not properly disposed
	at org.eclipse.swt.graphics.Resource.initNonDisposeTracking(Resource.java:172)
	at org.eclipse.swt.graphics.Resource.<init>(Resource.java:120)
	at org.eclipse.swt.graphics.Image.<init>(Image.java:205)
	at org.eclipse.wb.tests.designer.core.AbstractJavaProject

[2022-06-01 11:35] #252 closed

[2022-06-07 13:38] vogella opened #270 "Replace Guava Lists.newArrayList(); with new ArrayList<>();"
AFAICS Guava Lists.newArrayList(); simply delegates to new ArrayList<>(); in WB therefore we can use this standard Java construct.

[2022-06-07 14:49] #145 closed

[2022-06-17 13:00] D14-03 opened #279 "Unable to add Cascade item to Menu bar under Linux Mint"
Note, the issue does **not** present in Eclipse for Windows, don't know about other Linux distros.

To reproduce, create an SWT/JFace Java project, add Application window, Menu bar to that window, and Cascade menu item to that menu bar.

Stack trace looks like following:

Internal Error

WindowBuilder encountered unexpected internal error.

This could be caused by a WindowBuilder bug or by a misco

[2022-06-21 07:44] vogella commented on #279
Could you look into the issue the potentially provide a pull request? The project is more or less run by volunteers at this point.

[2022-06-21 07:57] vogella opened #284 "New Error The project cannot be built until its prerequisite org.eclipse.wb.jdt.fragment is built."
In the latest WindowBuilder master I get the following error message:

 Description	Resource	Path	Location	Type
The project cannot be built until its prerequisite org.eclipse.wb.jdt.fragment is built. Cleaning and building all projects is recommended	org.eclipse.wb.dev		Unknown	Java Problem

The only changes in master from last week (there I did not see this error), were the commits from @howlger

[2022-06-21 08:36] vogella opened #285 "Add tests to Tycho build"
Currently only few tests running via the Tycho build. WindowBuilderTests has ~ 6800 and we only run ~100 in the Tycho build.

Simply adding them to the build does not work so we need to investigate this.

cc @wimjongman @howlger help wanted, this would make the contribution process much more reliable.

[2022-06-21 08:53] vogella opened #286 "Some tests are failing on Win11"
Some tests which are using hard-coded length definitions are failing on Win11. Surprise, surprise, hard-code length definitions may fails after an OS update.

I plan to adjust the lenght to fit both Win10 and Win10.

[2022-06-21 10:44] laeubi commented on #286
You might want to add Windows to the matrix build first :-)

[2022-06-21 10:48] laeubi commented on #285
Can you explain what do not work? That might help other helping you enable them :-)

[2022-06-21 11:36] #286 closed

[2022-06-21 11:40] #120 closed

[2022-06-21 11:42] vogella opened #295 "Build fails on Windows with Invalid URI file:${project_loc:target-platform}/mvn/wb-mvn.target: Illegal character in path at index 7: file:/${project_loc:target-platform}/mvn/wb-mvn.target"
Running the build on the command line currently fails with the following error message:

[INFO] Scanning for projects...
[INFO] Resolving target definition file:/C:/Users/vogella/git/windowbuilder/org.eclipse.wb.tests/../target-platform/wb.target for environments=[linux/gtk/x86_64, win32/win32/x86_64, macosx/cocoa/x86_64], include source mode=honor, execution environment=StandardEEResolutionHints

[2022-06-21 11:43] vogella commented on #295
Most likely caused by [#282](https://github.com/eclipse/windowbuilder/pull/282) cc @laeubi @merks

[2022-06-21 11:49] vogella commented on #295
Yeah, moving the content back into one target file, allows the build to complete. Do we have  an URL which is supported by Windows and Linux / Mac? I assume @merks has a Mac and current GH validation "only" runs on Ubuntu, we should propertly also include Windows into the GH action.

[2022-06-21 11:50] merks commented on #295
It sounds like this:

https://github.com/eclipse-pde/eclipse.pde/issues/121

I'm not sure how it's implemented in Tycho, but perhaps is a similar bug in Tycho.

[2022-06-21 11:51] merks commented on #295
I have Windows and virtual boxes for Mac and Linux.

[2022-06-21 11:55] vogella commented on #295
So I assume you did not test the build with the target platform split change? Or did it work for you on Windows?

Sorry but I will have to revert the performance optimization for the setup in case this breaks the build from working on Windows. Unless @laeubi will now tell us how to set it up for both platforms. :-)

[2022-06-21 11:58] merks commented on #295
Oddly though this looks like it's not resolved the project name itself which is what happened before this was added to the root pom.xml:

![image](https://user-images.githubusercontent.com/208716/174793654-fa0544dd-aa44-4a9b-8fb2-f9c9f2f3d9c6.png)

Is that present for you locally where you are testing?

[2022-06-21 11:58] vogella commented on #285
To see the failure in action do the following

- [ ] Open the pom.file of org.eclipse.wb.tests
- [ ] Change line 63 to WindowBuilderTests
- [ ] Remove line 64

Or pull in the following change and run the build with mvn clean verify. https://github.com/eclipse/windowbuilder/pull/294

Pllease note that these ~6800 tests were written before Tycho existed and it took @MarcelS4 and myself multiple days

[2022-06-21 11:59] vogella commented on #285
Lots of class not found errors and org.eclipse.core.runtime.CoreException: Manifest file is not present for C:\Users\vogella\git\windowbuilder\org.eclipse.wb.tests\target\work\data\TestProject

[2022-06-21 12:03] merks commented on #295
You're sure your root pom.xml is not different from master?

[2022-06-21 12:07] merks commented on #295
I ask because it just works for me and it's clearly reading the correct two *.target files.

![image](https://user-images.githubusercontent.com/208716/174795401-ec481171-cb35-4622-820e-0bd331fa4267.png)

[2022-06-21 12:10] #295 closed

[2022-06-21 12:21] merks commented on #295
Sh** happens. 🥲

[2022-06-21 12:29] mickaelistria commented on #284
In Launch Configuration dialog > Trace > Enable Tracing > org.eclipse.core.resources; check what seems interesting. See also https://github.com/mickaelistria/eclipse-ide-parallel-builds-demo I used to generate some Gantt charts a while ago, but it's not just plug'n'play IIRC you need to modify some code to get everything working.

[2022-06-21 13:09] #168 closed

[2022-06-21 14:22] vogella opened #301 "Convert test suites to Junit 4"
We should convert the test suites to Junit 4, "easy" way to do this is to delete DesignerSuiteTests and fix all compiler errors. Example: https://github.com/eclipse/windowbuilder/pull/299

[2022-06-23 12:40] merks opened #302 "The bundles from the maven dependencies in the target platform are unsigned"
I generated this report:

https://download.eclipse.org/oomph/archive/reports-extra/windowbuilder/download.eclipse.org/windowbuilder/lastgoodbuild/index.html

It reports that these bundles are unsigned:

![image](https://user-images.githubusercontent.com/208716/175300289-5b6d83a4-97be-421b-b5a4-ec7cb7c04140.png)

These need to be PGP signed.

I'll contribute a PR to update the pom.xml for this purp

[2022-06-27 05:28] cniweb commented on #45
The argument --illegal-access=permit is no longer supported with Java 17.

[2022-06-27 07:08] wimjongman commented on #45
I don't think we need that anymore since we switched technologies. @lcaron can you confirm?

[2022-06-27 07:16] merks commented on #45
A while back, I added this to make it work with Java 17, but I don't know if that's still needed either:
[code]

[2022-06-27 07:19] howlger commented on #45
Yes, in recent versions [`--illegal-access=permit` is not used/required anymore](https://github.com/eclipse/windowbuilder/commit/052cf368a80bdd0659cf98679f9ee8c709d4c8cd#diff-8cee4dfac1ee9c8899db3061a385ebe28cdbea2ebb509e46e1126036101656a0).

See also https://github.com/eclipse/windowbuilder/pull/280 (not yet released)

[2022-06-27 07:35] lcaron commented on #45
The trick with `--illegal-access=permit` was necessary with Java 16, but it is no longer supported in Java 17.

Anyway the latest release of WB runs without additionnal VM parameter on Java 16+

[2022-06-27 09:21] cniweb commented on #260
We have a similar error:
`!MESSAGE Not properly disposed SWT resource
!STACK 0
java.lang.Error: SWT Resource was not properly disposed
	at org.eclipse.swt.graphics.Resource.initNonDisposeTracking(Resource.java:172)
	at org.eclipse.swt.graphics.Resource.<init>(Resource.java:120)
	at org.eclipse.swt.graphics.Image.<init>(Image.java:498)
	at org.eclipse.wb.internal.core.utils.ui.UiUtils.getCopy(UiUti

[2022-06-29 12:19] vogella commented on #260
@[cniweb](https://github.com/cniweb) please consider PR

[2022-07-05 13:40] vogella commented on #95
Thanks @MarcelS4 looks good. I see two tests failing during a full run, but if I also get these errors before this change.

Please merge.

[2022-07-05 13:42] #95 closed

[2022-07-11 13:38] #181 closed

[2022-07-12 21:55] farmboy0 opened #310 "Windowbuilder (Swing) hangs Eclipse on opening class"
When i open my ui class generated with windowbuilder and switch to design tab  it now hangs indefinitely and Eclipse becomes completely unresponsive.

This also happened before on other occasions (when the designer still opened my ui class). One point it always happened is when choosing Preview from the right click menu.

No errors are created in the error log.

I have tried to delete windowbuilde

[2022-07-12 21:57] farmboy0 commented on #310
This is on Eclipse 4.24 with WindowBuilder 1.9.8

[2022-07-15 10:16] MarcelS4 opened #311 "Layouts in Swing and SWT fail to change or duplicate Layout option in properties view"
For Swing when opening the design view, two Layout options are created in the Properties view and setting either of them throws an exception.

For SWT when switching layouts in the properties view causes the design view to switch to the exception view and produces a misconfiguration error.

[2022-07-15 10:32] MarcelS4 commented on #311
This occurs on the nightly build and Im currently working on a fix for this

[2022-07-15 18:48] lcaron commented on #310
Thank you for your report.

Can you please post the source code that hangs WB ?

[2022-07-15 18:48] lcaron commented on #311
Thank you Marcel

[2022-07-15 23:06] farmboy0 commented on #310
[PortageView.java.txt](https://github.com/eclipse/windowbuilder/files/9124600/PortageView.java.txt)
While when trying it again I can open the editor now in design view eclipse still hangs when doing a preview.

[2022-07-16 14:32] MarcelS4 commented on #311
Closed with #312

[2022-07-16 14:32] #311 closed

[2022-07-18 09:35] #302 closed

[2022-07-18 09:47] lcaron commented on #302
Good job, thank you Ed !

[2022-08-10 13:53] cniweb commented on #260
@vogella I have no idea how to fix the error and so I can't create a PR either!

[2022-08-31 11:19] merks opened #313 "What are the plans for a release and a contribution to SimRel 2022-09?"
I see there is this release record

https://projects.eclipse.org/projects/tools.windowbuilder/releases/1.10.0

But that date is 3 days after the 2022-09 release.

Is there a plan to produce a new update site and contribute it to SimRel for 2022-09?

[2022-08-31 14:02] wimjongman commented on #313
There is no plan ATM. But we can certainly make one.

[2022-08-31 14:04] wimjongman commented on #313
I see we have solved a lot of issues and only a few pending.

https://github.com/eclipse/windowbuilder/milestone/2

[2022-08-31 14:07] wimjongman commented on #166
Closed with https://github.com/eclipse/windowbuilder/pull/182

[2022-08-31 14:07] #166 closed

[2022-08-31 14:10] merks commented on #313
Yes, it seems quite a bit was done so I imagine it would be useful (for end users) for that to be included.   If you do plan to release, it would be good to change your release record date to be on or before September 14th...

Today is the deadline for RC1 contributions...

[2022-08-31 14:11] wimjongman commented on #110
Fixed with Pull #144

[2022-08-31 14:11] #110 closed

[2022-08-31 14:17] wimjongman commented on #313
Yes, I can release it today. Can you help me get it into the release train?

[2022-08-31 14:25] merks commented on #313
Just let me know the URL and I'll do it for you.  I assume it will appear here:

https://download.eclipse.org/windowbuilder/

I assume it will be 1.10.0 parallel to this one:

https://download.eclipse.org/windowbuilder/1.9.8/

[2022-08-31 15:11] wimjongman commented on #313
Correct.

[2022-08-31 15:32] wimjongman commented on #313
1.10.0 has been released.

**Website**
https://www.eclipse.org/windowbuilder/download.php

**Update Sites**
https://download.eclipse.org/windowbuilder/
https://download.eclipse.org/windowbuilder/1.10.0/

**Market place**
https://marketplace.eclipse.org/content/windowbuilder
https://marketplace.eclipse.org/content/windowbuilder-nightly-build

[2022-08-31 15:32] #313 closed

[2022-08-31 15:32] wimjongman commented on #175
1.10.0 has been released.

**Website**
https://www.eclipse.org/windowbuilder/download.php

**Update Sites**
https://download.eclipse.org/windowbuilder/
https://download.eclipse.org/windowbuilder/1.10.0/

**Market place**
https://marketplace.eclipse.org/content/windowbuilder
https://marketplace.eclipse.org/content/windowbuilder-nightly-build

[2022-08-31 15:32] #175 closed

[2022-08-31 15:40] merks commented on #175
It's been contributed:

https://git.eclipse.org/r/c/simrel/org.eclipse.simrel.build/+/195481

[2022-08-31 15:50] wimjongman opened #316 "1.11.0 Releng"
The issue to cover 1.11.0 releng tasks.

[2022-08-31 16:05] wimjongman commented on #175
Thanks for chasing this, Ed!

[2022-09-22 17:11] BrennerLittle opened #320 "Swing Gui Does not run on Mac OS and Java se 18"
The code generated compiles but does not run and open a window. I am using java se 18 Mac OS arm.

[2022-09-22 17:19] BrennerLittle opened #321 "Design Panel has no elements in it Mac OS Java se 18 and java se 1.8"
Design Panel has no elements in it Mac OS Java se 18 and java se 1.8
<img width="1026" alt="Screen Shot 2022-09-22 at 12 17 09 PM" src="https://user-images.githubusercontent.com/46569863/191811265-2be00a18-40d0-45b5-8372-7695945b87bb.png">

[2022-09-22 17:39] lcaron commented on #321
Can you please provide logs from error log please ?

[2022-09-22 18:02] BrennerLittle commented on #321
There are no error logs there is just no items in the palette. It could be a error or it could be user error.

[2022-09-22 20:48] BrennerLittle commented on #321
Im changing this to one issue.

[2022-09-22 20:48] BrennerLittle commented on #320
Im changing this to one issue.

[2022-09-22 20:48] #320 closed

[2022-09-22 20:48] BrennerLittle commented on #321
Im changing this to one issue.

[2022-09-22 20:48] #321 closed

[2022-09-22 20:52] BrennerLittle opened #322 "M1 Apple Silicon Compatibility"
Has windows builder been tested with m1 Macs. I seem to be having issues getting it to work on a m1 pro compared to my windows desktop machine. I believe multiple previous problems came from m1 Mac compatibly #321  #320. Is this user error on my part or is this a apple silicon compatibility problem?

[2022-09-24 11:00] wimjongman commented on #322
No. We do not have committers using this platform.

This what? Please understand that "this" means nothing to us :)

Please read this first and then come back and fix this issue:

How to Report Bugs Effectively: https://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2022-09-24 13:58] wimjongman commented on #321
@lcaron, maybe the palette issue is solved by the new GEF that @vogella et al. released recently

[2022-09-25 17:54] lcaron commented on #321
Yes maybe, thank you @wimjongman

[2022-09-25 17:55] lcaron commented on #322
Did you tried the latest build of WB ?

[2022-09-26 22:28] #316 closed

[2022-10-05 09:03] col-panic opened #323 "Databinding binds to deprecated classes"
The databinding process binds to deprecated classes. It is, for example, the default to import
`import org.eclipse.jface.databinding.swt.WidgetProperties;` which is directly marked deprecated
and requests change to `import org.eclipse.jface.databinding.swt.typed.WidgetProperties;`

Additionally, if one manualy changes to the non-deprecated classes, they are not marked as bound anymore.

[2022-10-05 09:06] wimjongman commented on #323
Thanks for reporting, Marco. Can you make a patch?

[2022-10-05 10:20] col-panic commented on #323
Not in the near future! I'll check back if I find a slot!

[2022-10-05 10:42] vogella commented on #323
These classes are deleted in the next platform release, so fixing this is recommended if you use dB via wb

[2022-10-05 12:32] wimjongman commented on #323
Is this a drop-in replacement?

[2022-10-05 12:34] wimjongman commented on #323
It looks like it is not much work...

https://github.com/eclipse/windowbuilder/search?q=org.eclipse.jface.databinding.swt

[2022-10-05 13:34] col-panic commented on #323
We also got an auto-generated issue in our project https://github.com/elexis/elexis-3-core/issues/477 considering this topic

[2022-10-05 18:40] col-panic opened #324 "IDE setup with installer fails"
Setting up an IDE environment according to https://github.com/eclipse/windowbuilder/blob/master/CONTRIBUTING.md fails on setup with

[code]

[2022-10-06 07:54] merks commented on #324
The problem is that the setup tries to use the latest and greatest from the platform

![image](https://user-images.githubusercontent.com/208716/194249131-429cd590-48e6-47a0-953b-4ec16d703a63.png)

And it's using the direct-from-maven version of juniper while the plugins.

@wimjongman

It's probably better to use package imports to avoid this problem.  But I'm running out of time for today...

[2022-10-06 08:56] wimjongman commented on #324
I will take a look. Thanks for the pointer.

[2022-10-06 12:08] merks commented on #324
@wimjongman  I'll retest again from scratch.

One problem I see now is this error:

![image](https://user-images.githubusercontent.com/208716/194306046-b3eea7bd-5af9-4071-b25a-d7cd73c2cd35.png)

That method was adding during the 2022-09/4.25 release cycle so I think I should fix this and update the *.target to 2022-09...

[2022-10-06 13:08] merks commented on #324
I retested from scratch just now and it works for me.

[2022-10-06 14:20] wimjongman commented on #324
I also tested it. We are looking forward to the quality patches of @col-panic ;)

[2022-10-09 13:15] col-panic commented on #323
I'll try to come up with a PR. The tests aren't supposed to be passing, are they? I had to remove `${uitest.vmparams}` at lease for them to start - but then failing.

[2022-10-09 14:09] vogella commented on #323
Most tests are currently running fine, which tests are you referring to?

Marco Descher ***@***.***> schrieb am So., 9. Okt. 2022,
15:15:

[2022-10-09 15:16] col-panic commented on #323
If I run `mvn clean verify` without the `-DskipTests` as mentioned in https://github.com/eclipse/windowbuilder/blob/master/CONTRIBUTING.md (i had to remove the `${uitest.vmparams}` for it to even start. Does this work for you?
I'm on OS X, tried Java 11 and 17, but see lots of NullPointer and failes.

[2022-10-09 16:20] wimjongman commented on #323
Skip the local tests. We do the tests when a PR is created, not all tests are executed.

[2022-10-11 06:17] et1113 opened #330 "Unknown GUI toolkit Error"
I'm using Windows 10 version 21H2, Eclipse Version: 2022-09 (4.25.0), and Oracle JDK version 18.01.1

I have uninstalled and reinstalled WindowBuilder multiple times to try to fix this issue. I have also tried to install older versions, installing from the zip and installing from all of the available software sites listed below, and I still can't get rid of the error (full error code pasted below)

[2022-10-11 07:05] D14-03 commented on #279
Yes, potentially. Not at this time though.Just was wondering if there's anything suspecting related.10:45, 21 июня 2022 г., Lars Vogel ***@***.***>:
Could you look into the issue the potentially provide a pull request? The project is more or less run by volunteers at this point.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread

[2022-10-13 13:34] ApuiIrom opened #332 "Window palette issue in eclipse"
![Screenshot (5)](https://user-images.githubusercontent.com/114992036/195610532-ee8a3d77-91c3-40c6-b19b-ce298b87e16f.png)I
I downloaded window builder in my eclipse and when I click on the design tab my palette is not showing properly, it has no max,min and close button and I cant use any of the components,layouts,containers,etc... Can you guys help me out with this issue please

[2022-10-13 20:07] BrennerLittle commented on #322
It was fixed in the newer version

[2022-10-17 16:25] mjstenbe opened #334 "Latest Windowbuilder NOT working on Eclipse EE 2022-09"
Im working with:
Eclipse IDE for Enterprise Java and Web Developers (includes Incubating components)

Version: 2022-09 (4.25.0)
Build id: 20220908-1902
Im using Java SE-18 (jkd-18.0.2.1)

I installed windowbuilder but it is not working. When running Im getting errors such as "Eventqueue cannot be resolved". And when opening the Designer window (below). I have been ableto use WB on previous Eclipse

[2022-10-17 17:24] #334 closed, assigned to nobody

[2022-10-17 20:31] maryoga opened #336 "WindowBuilder empty palette Java"
Hi Friends,

I have the problems with "empty palette"

I have the next Eclipse version installed

Eclipse IDE for Java Developers (includes Incubating components)
Version: 2022-09 (4.25.0)
Build id: 20220908-1902
OS: Windows 10, v.10.0, x86_64 / win32
Java vendor: Oracle Corporation
Java runtime version: 18.0.1.1+2-6
Java version: 18.0.1.1

[2022-10-17 21:48] wimjongman commented on #336
Why is it a problem? I have never used this. Please open the folders in the pallette.

[2022-10-18 19:40] maryoga commented on #336
The problem is that I cannot add a custom component, for example the JCalendar. I can't access the menu as shown in the following image. I cannot access any context menu option

![Vincular JCalendar en Eclipse](https://user-images.githubusercontent.com/5562432/196527788-27ed8c95-be70-4fcd-b374-73ee191f951e.jpg)

[2022-10-18 22:28] maryoga commented on #336
Hi wimjongman,

thanks foy you help.

I installed a different Eclipse version which is from 2018 and it worked for me, I don't understand why this happens, it even worked for me with the latest JRE version 1.8 Installed. I don't know how I could have solved this with the version I posted you at the beginning and with the one that gives me that error of not being able to add components.

Eclipse SD

[2022-10-20 15:56] Typheta opened #338 "WindowBuilder not showing in Eclipse after downloading"
So Ive been trying to download WindowBuilder for Eclipse but it won't work. I have tried downloading straight from the marketplace and from Eclipse.org but nothing works. When it installs and restarts, I am unable to open or create a file with WindowBuilder.

I have deleted and reinstalled WindowBuilder several times. I have tried different versions, but nothing works. I have deleted my meta data

[2022-10-22 07:27] nelo1986 commented on #321
Hello,
I have the same issue. Did you solve it?

[2022-10-22 08:18] nelo1986 commented on #322
Hello @BrennerLittle,

I have the same problem with the palette. It shows completely empty and blocked. I use the newer version of WB. If you finally has resolved this issue, what version of eclipse, jdk and WB do you use? How did you solve it?

Thanks in advance

[2022-10-22 08:41] nelo1986 opened #339 "Empty Design tab on Mac M1 Pro"
Hello,

I'm trying to use Eclipse and Window Builder to make an SWT project, but and have the following issue.

<img width="800" alt="image" src="https://user-images.githubusercontent.com/95741746/197329659-c7e134f1-cdec-488e-ac65-ab41609ceab6.png">

The file compiles and executes well:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/95741746/197329738-b8fe9d0a-7a73-43

[2022-10-23 10:40] howlger commented on #339
This does not look like a bug of WindowBuilder, but a misconfiguration of the _Java Build Path_ of your project for SWT.

Follow the [SWT documentation](https://www.eclipse.org/swt/eclipse.php) (in your case, for macOS on Apple silicon (M1), download and use [`swt-4.25-cocoa-macosx-aarch64.zip`](https://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops4/R-4.25-202208311800/swt-4

[2022-10-24 10:50] wimjongman opened #343 "Update version number to 1.12.0"
Bump the version numbers to the new release.

[2022-10-24 12:39] nelo1986 opened #344 "[SWT] Empty Design tab on Mac M1 Pro"
### Discussed in https://github.com/eclipse/windowbuilder/discussions/340

**Problem**: The Design Tab is empty and It doesn't allow it to work.
**Architecture**: Apple Silicon (aarch64)

**Screenshot of the issue**

<img width="600" alt="iScreen Shoter - 20221024142538271" src="https://user-images.githubusercontent.com/95741746/197525073-e48755c5-313f-4e15-a72d-749f635d42fb.png">

**Eclipse versi

[2022-10-25 20:44] amitin commented on #344
I can't see that the native parts responsible for visual design pane representation are built for aarch64. So in order to get it working natively for aarch64 the code at https://github.com/eclipse/windowbuilder/tree/master/org.eclipse.wb.os.macosx/native/mac must be built for aarch64 and binaries should reside at https://github.com/eclipse/windowbuilder/tree/master/org.eclipse.wb.os.macosx/os/maco

[2022-10-28 00:25] tobieche110 opened #347 "Window Builder crashes when doing anything on the Design tab"
### Discussed in https://github.com/eclipse/windowbuilder/discussions/345

<div type='discussions-op-text'>

<sup>Originally posted by **tobieche110** October 25, 2022</sup>
Hi! So, I recently installed this plugin. I can't manage to get it to work. I can access the Design tab when I create an Application Window class, but if I try to do anything (inserting a button in the window, redimensioning i

[2022-10-28 13:12] Unluckyjoker commented on #347
Same problem here

[2022-10-29 13:51] RyukTV commented on #347
Same problem here I try everything but it the same problem

[2022-10-31 13:50] kareemz32 commented on #347
Anyone figure out how to fix it yet?

[2022-10-31 13:55] merks commented on #347
The missing method was added during the 2022-09 release cycle so you'll need to update JDT to the latest release, e.g., from this site:

https://download.eclipse.org/releases/2022-09/

[2022-11-01 15:11] tobieche110 commented on #347
This fix

[2022-11-01 15:11] #347 closed

[2022-11-05 12:22] #323 closed

[2022-11-07 16:32] Flare785 commented on #347
@tobieche110 Good evening.
I'm having the same problem and I can't figure out how to solve it. I saw that you are from Argentina. I'm from Spain, if you could help me I would be so grateful. We can comunicate via Discord if you want. Thank you.

[2022-11-08 11:38] wimjongman commented on #344
We don't check-in binaries.

[2022-11-08 11:42] wimjongman commented on #344
Yes. I see that we do not build for aarch64. Thanks for finding that.

[2022-11-09 14:12] jaroldsabillon opened #350 "Unable to parse when changing anything in design tab."
Any small change even resizing the window gives me an error.

[2022-11-09 17:50] amitin commented on #344
@wimjongman, I built it but I can't test it. I put the binary here https://github.com/amitin/windowbuilder
Please merge, test it and update your pull request if it works.

[2022-11-09 23:22] davidhwilliams opened #352 "Parameterized JComboBox breaks Design tab"
When parameterizing JComboBox in the Source tab and switching to the Design tab a warning is thrown that prevents the Design tab from displaying anything.
Warning:
[code]

Work around is to take out the parameters in the constructor which then throws an IDE warning.

Example code:
[code]

Eclipse Version: 2022-09 (4.25.0)
WindowBuilder Version: 1.12.0.202211051224
Java Version: 1.8.0_202

[2022-11-10 12:46] wimjongman commented on #344
Alexander, thanks! I cannot create the pull request for you. You have to do it for Eclipse legal reasons.

[2022-11-10 12:48] wimjongman commented on #344
Alexander, just create a PR from your repo with the added binaries.

[2022-11-10 12:49] amitin commented on #344
OK, did it work for M1? If yes, I'll try to merge it into the master branch.

[2022-11-10 12:52] wimjongman commented on #344
IDK! I do not have access to an ARM mac. Someone else will have to test, but at least we can build a product. I already created a PR. I could do it from your repo.

[2022-11-10 18:18] wimjongman commented on #344
No we have to wait for someone to test it. Are you a WB committer?

[2022-11-10 18:33] amitin commented on #344
@wimjongman, I'm one of the founders/creators of SWT Designer (which become WindowBuilder later) since 2003. And yes, I'm still a committer. :)

[2022-11-11 07:04] wimjongman commented on #344
Hi Alexander. Thanks for rejoining us!! We can certainly use your help because the project has difficulty catching up with the latest Java/Eclipse changes.

In this case, I suggest merging your changes so that we have a snapshot ready for people with access to an M1. WDYT?

[2022-11-12 23:01] amitin commented on #344
OK, I tested and fixed M1 support, it works fine for me now. Additionally, I added M1 support for text baseline alignment.
See the screenshot. I'll merge the pull requests shortly.
<img width="966" alt="wbp_m1" src="https://user-images.githubusercontent.com/1537180/201497822-37f9362a-5c0c-4141-a0f9-f967d43c0288.png">

[2022-11-12 23:02] #344 closed

[2022-11-13 13:14] wimjongman commented on #343
Fixed

[2022-11-13 13:14] #343 closed

[2022-11-13 13:16] wimjongman commented on #344
Thanks, Alexander!